.theme-toggle {
  display: flex;
  align-items: center;
}

.theme-button {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;

  ::ng-deep span[nz-icon] {
    color: var(--text-color);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  [data-theme="dark"] & {
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.theme-label {
  margin-left: 8px;
}
